<!DOCTYPE html>
<html lang="en">
    <head>
        <div class="flex">
        <header class="topbar">
            <meta charset="UTF-8">
            <h1 class="fill" id="header-title">
                <img width="50" height="40" src="https://www.axelos.com/Corporate/media/Images/Website%20Assets/Strategic%20ATO%20Logos/QA-Limited-Logo.gif?width=924&height=650&ext=.gif"/>
                <a href="/">
                    QA Cinema
                </a>
                @headerNavBar()
                @headerLogin()
            </h1>
        </header>
        </div>
    </head>
    <body>
    </body>
</html>