<!DOCTYPE html>
<html lang="en">
    <head>
        <div class="flex">
        <header class="fixed-top fill">
            <meta charset="UTF-8">
            <h1  id="header-title">

                <div class="row">

                <div class="col-1 align-self-center">
                <img width="80" height="80" src=@routes.Assets.at("images/favicon.png")/>
                </div>


                <div class="col-9 align-self-center">
                @headerNavBar()
                </div>

                <div class="col-2 align-self-center">
                @headerLogin()
                </div>



                </div>
            </h1>
        </header>
        </div>
    </head>
    <body>
    </body>
</html>