@(implicit test :List[String] = List("Jaws 3D","Titan Fall 2","Film 3","Film 4" ,"Film 5","Lego Star Wars"))


    @main("QA Cinema") {
    <h1>New Releases</h1>

    <div class="flex">
    @for(i <- test.length to test.length-2 by -1){
                <div class="filmpanel">
                    <h3>@test(i-1) </h3>
                    <img width="150" height="200" src="https://upload.wikimedia.org/wikipedia/en/c/c3/Jaws_3d.jpg"/>
                </div>
    }
    </div>

    <div class="flex">
    @for(i <- test.length-2 to test.length-4 by -1){
        <div class="filmpanel">
            <h3>@test(i-1) </h3>
            <img width="150" height="200" src="https://upload.wikimedia.org/wikipedia/en/c/c3/Jaws_3d.jpg"/>
        </div>
    }
    </div>

    </br></br>
}
