@(message: String)

@main("QA Cinema") {
    <h1>Opening Times</h1>

    <div class="row">
    <h4 class="col-4 align-self-center">Monday</h4>  <h4 class="col-8 align-self-center">: 9:00AM - 8:00PM</h4>
    </div>

    <div class="row">
        <h4 class="col-4 align-self-center">Tuesday</h4>  <h4 class="col-8 align-self-center">: 9:00AM - 8:00PM</h4>
    </div>

    <div class="row">
        <h4 class="col-4 align-self-center">Wednesday</h4>  <h4 class="col-8 align-self-center">: 9:00AM - 8:00PM</h4>
    </div>

    <div class="row">
        <h4 class="col-4 align-self-center">Thursday</h4>  <h4 class="col-8 align-self-center">: 9:00AM - 8:00PM</h4>
    </div>

    <div class="row">
        <h4 class="col-4 align-self-center">Friday</h4>  <h4 class="col-8 align-self-center">: 7:00AM - 11:50PM</h4>
    </div>

    <div class="row">
        <h4 class="col-4 align-self-center">Saturday</h4>  <h4 class="col-8 align-self-center">: 10:30AM - 11:50PM</h4>
    </div>

    <div class="row">
        <h4 class="col-4 align-self-center">Sunday</h4>  <h4 class="col-8 align-self-center">: 11:00AM - 10:45PM</h4>
    </div>
}
