@(form: Form[UsersSignUp])(implicit messages: Messages)

@main("SignUp"){
    <h1>Signup page</h1>

    @helper.form(routes.SignUpController.signUp()) {
        @helper.inputText(form("fName"), '_label -> "Forename", '_showConstraints -> false)
        @helper.inputText(form("lName"), '_label -> "Surname", '_showConstraints -> false)
        @helper.inputText(form("name"), '_label -> "Username", '_showConstraints -> false)
        @helper.inputPassword(form("password"), '_label -> "Password" , '_showConstraints -> false)
        @helper.inputText(form("postcode"), '_label -> "Postcode" , '_showConstraints -> false)
        @helper.inputText(form("house_no"), '_label -> "House Number" , '_showConstraints -> false)
        <button type="submit">Sign Up</button>
    }
}